doctype
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title Twitter Lite
      link(rel="stylesheet" href="/public/css/reset.css")
      <script src="https://kit.fontawesome.com/cd7959e4dc.js" crossorigin="anonymous"></script>
  body
    block content